<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-modelo-3-d-heading" jhiTranslate="surapp1App.modelo3D.home.createOrEditLabel">Create or edit a Modelo 3 D</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="surapp1App.modelo3D.nombre" for="field_nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="field_nombre"
                           formControlName="nombre"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="surapp1App.modelo3D.urt" for="field_urt">Urt</label>
                    <input type="text" class="form-control" name="urt" id="field_urt"
                           formControlName="urt"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="surapp1App.modelo3D.colider" for="field_colider">Colider</label>
                    <input type="text" class="form-control" name="colider" id="field_colider"
                           formControlName="colider"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="surapp1App.modelo3D.textureA" for="field_textureA">Texture A</label>
                    <input type="text" class="form-control" name="textureA" id="field_textureA"
                           formControlName="textureA"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="surapp1App.modelo3D.textureBC" for="field_textureBC">Texture BC</label>
                    <input type="text" class="form-control" name="textureBC" id="field_textureBC"
                           formControlName="textureBC"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="surapp1App.modelo3D.textureN" for="field_textureN">Texture N</label>
                    <input type="text" class="form-control" name="textureN" id="field_textureN"
                           formControlName="textureN"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="surapp1App.modelo3D.textureR" for="field_textureR">Texture R</label>
                    <input type="text" class="form-control" name="textureR" id="field_textureR"
                           formControlName="textureR"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="surapp1App.modelo3D.shadow" for="field_shadow">Shadow</label>
                    <input type="text" class="form-control" name="shadow" id="field_shadow"
                           formControlName="shadow"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="surapp1App.modelo3D.acutalizado" for="field_acutalizado">Acutalizado</label>
                    <input type="checkbox" class="form-control" name="acutalizado" id="field_acutalizado"
                           formControlName="acutalizado"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="surapp1App.modelo3D.fecha" for="field_fecha">Fecha</label>
                    <div class="input-group">
                        <input id="field_fecha" type="text" class="form-control" name="fecha" ngbDatepicker #fechaDp="ngbDatepicker" formControlName="fecha"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="surapp1App.modelo3D.idUser" for="field_idUser">Id User</label>
                    <select class="form-control" id="field_idUser" name="idUser" formControlName="idUser">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('idUser')!.value?.id ? editForm.get('idUser')!.value : userOption" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
