<div>
    <h2 id="page-heading">
        <span jhiTranslate="surapp1App.ciudad.home.title">Ciudads</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ciudad" [routerLink]="['/ciudad/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="surapp1App.ciudad.home.createLabel">
            Create a new Ciudad
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="ciudads?.length === 0">
        <span jhiTranslate="surapp1App.ciudad.home.notFound">No ciudads found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="ciudads?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nombreCiudad"><span jhiTranslate="surapp1App.ciudad.nombreCiudad">Nombre Ciudad</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="pais.nombrePais"><span jhiTranslate="surapp1App.ciudad.pais">Pais</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let ciudad of ciudads ;trackBy: trackId">
                    <td><a [routerLink]="['/ciudad', ciudad.id, 'view']">{{ ciudad.id }}</a></td>
                    <td>{{ ciudad.nombreCiudad }}</td>
                    <td>
                        <div *ngIf="ciudad.pais">
                            <a [routerLink]="['/pais', ciudad.pais?.id, 'view']" >{{ ciudad.pais?.nombrePais }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/ciudad', ciudad.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/ciudad', ciudad.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(ciudad)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
