<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="favoritosServicios">
            <h2><span jhiTranslate="surapp1App.favoritosServicios.detail.title">Favoritos Servicios</span> {{ favoritosServicios.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="surapp1App.favoritosServicios.fecha">Fecha</span></dt>
                <dd>
                    <span>{{ favoritosServicios.fecha }}</span>
                </dd>
                <dt><span jhiTranslate="surapp1App.favoritosServicios.idUser">Id User</span></dt>
                <dd>
                    {{ favoritosServicios.idUser?.id }}
                </dd>
                <dt><span jhiTranslate="surapp1App.favoritosServicios.productoId">Producto Id</span></dt>
                <dd>
                    <div *ngIf="favoritosServicios.productoId">
                        <a [routerLink]="['/servicios', favoritosServicios.productoId?.id, 'view']">{{ favoritosServicios.productoId?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/favoritos-servicios', favoritosServicios.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
