<div>
    <h2 id="page-heading">
        <span jhiTranslate="surapp1App.invitacionTablero.home.title">Invitacion Tableros</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-invitacion-tablero" [routerLink]="['/invitacion-tablero/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="surapp1App.invitacionTablero.home.createLabel">
            Create a new Invitacion Tablero
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="invitacionTableros?.length === 0">
        <span jhiTranslate="surapp1App.invitacionTablero.home.notFound">No invitacionTableros found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="invitacionTableros?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="estado"><span jhiTranslate="surapp1App.invitacionTablero.estado">Estado</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fecha"><span jhiTranslate="surapp1App.invitacionTablero.fecha">Fecha</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="idUser.id"><span jhiTranslate="surapp1App.invitacionTablero.idUser">Id User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tableroId.id"><span jhiTranslate="surapp1App.invitacionTablero.tableroId">Tablero Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let invitacionTablero of invitacionTableros ;trackBy: trackId">
                    <td><a [routerLink]="['/invitacion-tablero', invitacionTablero.id, 'view']">{{ invitacionTablero.id }}</a></td>
                    <td>{{ invitacionTablero.estado }}</td>
                    <td>{{ invitacionTablero.fecha | date:'medium' }}</td>
                    <td>
                        {{ invitacionTablero.idUser?.id }}
                    </td>
                    <td>
                        <div *ngIf="invitacionTablero.tableroId">
                            <a [routerLink]="['/tableros', invitacionTablero.tableroId?.id, 'view']" >{{ invitacionTablero.tableroId?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/invitacion-tablero', invitacionTablero.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/invitacion-tablero', invitacionTablero.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(invitacionTablero)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
