<div>
    <h2 id="page-heading">
        <span jhiTranslate="surapp1App.fisiometria1.home.title">Fisiometria 1 S</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-fisiometria-1" [routerLink]="['/fisiometria-1/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="surapp1App.fisiometria1.home.createLabel">
            Create a new Fisiometria 1
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="fisiometria1S?.length === 0">
        <span jhiTranslate="surapp1App.fisiometria1.home.notFound">No fisiometria1S found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="fisiometria1S?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ritmoCardiaco"><span jhiTranslate="surapp1App.fisiometria1.ritmoCardiaco">Ritmo Cardiaco</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ritmoRespiratorio"><span jhiTranslate="surapp1App.fisiometria1.ritmoRespiratorio">Ritmo Respiratorio</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="oximetria"><span jhiTranslate="surapp1App.fisiometria1.oximetria">Oximetria</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="presionArterialSistolica"><span jhiTranslate="surapp1App.fisiometria1.presionArterialSistolica">Presion Arterial Sistolica</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="presionArterialDiastolica"><span jhiTranslate="surapp1App.fisiometria1.presionArterialDiastolica">Presion Arterial Diastolica</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="temperatura"><span jhiTranslate="surapp1App.fisiometria1.temperatura">Temperatura</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="timeInstant"><span jhiTranslate="surapp1App.fisiometria1.timeInstant">Time Instant</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="user.id"><span jhiTranslate="surapp1App.fisiometria1.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let fisiometria1 of fisiometria1S ;trackBy: trackId">
                    <td><a [routerLink]="['/fisiometria-1', fisiometria1.id, 'view']">{{ fisiometria1.id }}</a></td>
                    <td>{{ fisiometria1.ritmoCardiaco }}</td>
                    <td>{{ fisiometria1.ritmoRespiratorio }}</td>
                    <td>{{ fisiometria1.oximetria }}</td>
                    <td>{{ fisiometria1.presionArterialSistolica }}</td>
                    <td>{{ fisiometria1.presionArterialDiastolica }}</td>
                    <td>{{ fisiometria1.temperatura }}</td>
                    <td>{{ fisiometria1.timeInstant | date:'medium' }}</td>
                    <td>
                        {{ fisiometria1.user?.id }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/fisiometria-1', fisiometria1.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/fisiometria-1', fisiometria1.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(fisiometria1)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
