<div>
    <h2 id="page-heading">
        <span jhiTranslate="surapp1App.categorias.home.title">Categorias</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-categorias" [routerLink]="['/categorias/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="surapp1App.categorias.home.createLabel">
            Create a new Categorias
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="categorias?.length === 0">
        <span jhiTranslate="surapp1App.categorias.home.notFound">No categorias found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="categorias?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="categoria"><span jhiTranslate="surapp1App.categorias.categoria">Categoria</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fecha"><span jhiTranslate="surapp1App.categorias.fecha">Fecha</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let categorias of categorias ;trackBy: trackId">
                    <td><a [routerLink]="['/categorias', categorias.id, 'view']">{{ categorias.id }}</a></td>
                    <td>{{ categorias.categoria }}</td>
                    <td>{{ categorias.fecha | date:'medium' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/categorias', categorias.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/categorias', categorias.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(categorias)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
