<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="categorias">
            <h2><span jhiTranslate="surapp1App.categorias.detail.title">Categorias</span> {{ categorias.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="surapp1App.categorias.categoria">Categoria</span></dt>
                <dd>
                    <span>{{ categorias.categoria }}</span>
                </dd>
                <dt><span jhiTranslate="surapp1App.categorias.fecha">Fecha</span></dt>
                <dd>
                    <span>{{ categorias.fecha }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/categorias', categorias.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
