<div>
    <h2 id="page-heading">
        <span jhiTranslate="surapp1App.blog.home.title">Blogs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-blog" [routerLink]="['/blog/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="surapp1App.blog.home.createLabel">
            Create a new Blog
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="blogs?.length === 0">
        <span jhiTranslate="surapp1App.blog.home.notFound">No blogs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="blogs?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="titulo"><span jhiTranslate="surapp1App.blog.titulo">Titulo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="contenido"><span jhiTranslate="surapp1App.blog.contenido">Contenido</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="imagen"><span jhiTranslate="surapp1App.blog.imagen">Imagen</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="video"><span jhiTranslate="surapp1App.blog.video">Video</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="calificacion"><span jhiTranslate="surapp1App.blog.calificacion">Calificacion</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lecturas"><span jhiTranslate="surapp1App.blog.lecturas">Lecturas</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="idUser.id"><span jhiTranslate="surapp1App.blog.idUser">Id User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let blog of blogs ;trackBy: trackId">
                    <td><a [routerLink]="['/blog', blog.id, 'view']">{{ blog.id }}</a></td>
                    <td>{{ blog.titulo }}</td>
                    <td>{{ blog.contenido }}</td>
                    <td>
                        <a *ngIf="blog.imagen" (click)="openFile(blog.imagenContentType, blog.imagen)">
                            <img [src]="'data:' + blog.imagenContentType + ';base64,' + blog.imagen" style="max-height: 30px;" alt="blog image"/>
                        </a>
                        <span *ngIf="blog.imagen">{{ blog.imagenContentType }}, {{ byteSize(blog.imagen) }}</span>
                    </td>
                    <td>{{ blog.video }}</td>
                    <td>{{ blog.calificacion }}</td>
                    <td>{{ blog.lecturas }}</td>
                    <td>
                        {{ blog.idUser?.id }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/blog', blog.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/blog', blog.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(blog)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
