<div>
    <h2 id="page-heading">
        <span jhiTranslate="surapp1App.historialOfertas.home.title">Historial Ofertas</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-historial-ofertas" [routerLink]="['/historial-ofertas/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="surapp1App.historialOfertas.home.createLabel">
            Create a new Historial Ofertas
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="historialOfertas?.length === 0">
        <span jhiTranslate="surapp1App.historialOfertas.home.notFound">No historialOfertas found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="historialOfertas?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="valorProducto"><span jhiTranslate="surapp1App.historialOfertas.valorProducto">Valor Producto</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="valorOferta"><span jhiTranslate="surapp1App.historialOfertas.valorOferta">Valor Oferta</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fechaInicial"><span jhiTranslate="surapp1App.historialOfertas.fechaInicial">Fecha Inicial</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fechaFinal"><span jhiTranslate="surapp1App.historialOfertas.fechaFinal">Fecha Final</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="productoId.id"><span jhiTranslate="surapp1App.historialOfertas.productoId">Producto Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let historialOfertas of historialOfertas ;trackBy: trackId">
                    <td><a [routerLink]="['/historial-ofertas', historialOfertas.id, 'view']">{{ historialOfertas.id }}</a></td>
                    <td>{{ historialOfertas.valorProducto }}</td>
                    <td>{{ historialOfertas.valorOferta }}</td>
                    <td>{{ historialOfertas.fechaInicial | date:'mediumDate' }}</td>
                    <td>{{ historialOfertas.fechaFinal | date:'mediumDate' }}</td>
                    <td>
                        <div *ngIf="historialOfertas.productoId">
                            <a [routerLink]="['/productos', historialOfertas.productoId?.id, 'view']" >{{ historialOfertas.productoId?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/historial-ofertas', historialOfertas.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/historial-ofertas', historialOfertas.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(historialOfertas)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
