<div>
    <h2 id="page-heading">
        <span jhiTranslate="surapp1App.categoriaProducto.home.title">Categoria Productos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-categoria-producto" [routerLink]="['/categoria-producto/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="surapp1App.categoriaProducto.home.createLabel">
            Create a new Categoria Producto
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="categoriaProductos?.length === 0">
        <span jhiTranslate="surapp1App.categoriaProducto.home.notFound">No categoriaProductos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="categoriaProductos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="categoria"><span jhiTranslate="surapp1App.categoriaProducto.categoria">Categoria</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fecha"><span jhiTranslate="surapp1App.categoriaProducto.fecha">Fecha</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="catagoriaId.id"><span jhiTranslate="surapp1App.categoriaProducto.catagoriaId">Catagoria Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="productoId.id"><span jhiTranslate="surapp1App.categoriaProducto.productoId">Producto Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let categoriaProducto of categoriaProductos ;trackBy: trackId">
                    <td><a [routerLink]="['/categoria-producto', categoriaProducto.id, 'view']">{{ categoriaProducto.id }}</a></td>
                    <td>{{ categoriaProducto.categoria }}</td>
                    <td>{{ categoriaProducto.fecha | date:'medium' }}</td>
                    <td>
                        <div *ngIf="categoriaProducto.catagoriaId">
                            <a [routerLink]="['/categorias', categoriaProducto.catagoriaId?.id, 'view']" >{{ categoriaProducto.catagoriaId?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="categoriaProducto.productoId">
                            <a [routerLink]="['/productos', categoriaProducto.productoId?.id, 'view']" >{{ categoriaProducto.productoId?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/categoria-producto', categoriaProducto.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/categoria-producto', categoriaProducto.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(categoriaProducto)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
