<div>
    <h2 id="page-heading">
        <span jhiTranslate="surapp1App.comentarioBlog.home.title">Comentario Blogs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-comentario-blog" [routerLink]="['/comentario-blog/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="surapp1App.comentarioBlog.home.createLabel">
            Create a new Comentario Blog
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="comentarioBlogs?.length === 0">
        <span jhiTranslate="surapp1App.comentarioBlog.home.notFound">No comentarioBlogs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="comentarioBlogs?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="comentario"><span jhiTranslate="surapp1App.comentarioBlog.comentario">Comentario</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fecha"><span jhiTranslate="surapp1App.comentarioBlog.fecha">Fecha</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="estado"><span jhiTranslate="surapp1App.comentarioBlog.estado">Estado</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="blogId.id"><span jhiTranslate="surapp1App.comentarioBlog.blogId">Blog Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let comentarioBlog of comentarioBlogs ;trackBy: trackId">
                    <td><a [routerLink]="['/comentario-blog', comentarioBlog.id, 'view']">{{ comentarioBlog.id }}</a></td>
                    <td>{{ comentarioBlog.comentario }}</td>
                    <td>{{ comentarioBlog.fecha | date:'medium' }}</td>
                    <td>{{ comentarioBlog.estado }}</td>
                    <td>
                        <div *ngIf="comentarioBlog.blogId">
                            <a [routerLink]="['/blog', comentarioBlog.blogId?.id, 'view']" >{{ comentarioBlog.blogId?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/comentario-blog', comentarioBlog.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/comentario-blog', comentarioBlog.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(comentarioBlog)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
