<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="alarma">
            <h2><span jhiTranslate="surapp1App.alarma.detail.title">Alarma</span> {{ alarma.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="surapp1App.alarma.timeInstant">Time Instant</span></dt>
                <dd>
                    <span>{{ alarma.timeInstant }}</span>
                </dd>
                <dt><span jhiTranslate="surapp1App.alarma.descripcion">Descripcion</span></dt>
                <dd>
                    <span>{{ alarma.descripcion }}</span>
                </dd>
                <dt><span jhiTranslate="surapp1App.alarma.procedimiento">Procedimiento</span></dt>
                <dd>
                    <span>{{ alarma.procedimiento }}</span>
                </dd>
                <dt><span jhiTranslate="surapp1App.alarma.user">User</span></dt>
                <dd>
                    {{ alarma.user?.id }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/alarma', alarma.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
