<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-servicios-heading" jhiTranslate="surapp1App.servicios.home.createOrEditLabel">Create or edit a Servicios</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="surapp1App.servicios.nombre" for="field_nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="field_nombre"
                           formControlName="nombre"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="surapp1App.servicios.descripcion" for="field_descripcion">Descripcion</label>
                    <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                           formControlName="descripcion"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="surapp1App.servicios.imagen" for="field_imagen">Imagen</label>
                    <div>
                        <img [src]="'data:' + editForm.get('imagenContentType')!.value + ';base64,' + editForm.get('imagen')!.value" style="max-height: 100px;" *ngIf="editForm.get('imagen')!.value" alt="servicios image"/>
                        <div *ngIf="editForm.get('imagen')!.value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{ editForm.get('imagenContentType')!.value }}, {{ byteSize(editForm.get('imagen')!.value) }}</span>
                            <button type="button" (click)="clearInputImage('imagen', 'imagenContentType', 'file_imagen')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_imagen" (change)="setFileData($event, 'imagen', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="imagen" id="field_imagen"
                           formControlName="imagen"/>
                    <input type="hidden" class="form-control" name="imagenContentType" id="field_imagenContentType"
                           formControlName="imagenContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="surapp1App.servicios.videos" for="field_videos">Videos</label>
                    <div>
                        <div *ngIf="editForm.get('videos')!.value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('videosContentType')!.value, editForm.get('videos')!.value)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{ editForm.get('videosContentType')!.value }}, {{ byteSize(editForm.get('videos')!.value) }}</span>
                            <button type="button" (click)="editForm.patchValue({videos: null});editForm.patchValue({videosContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_videos" (change)="setFileData($event, 'videos', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="videos" id="field_videos"
                           formControlName="videos"/>
                    <input type="hidden" class="form-control" name="videosContentType" id="field_videosContentType"
                           formControlName="videosContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="surapp1App.servicios.documento" for="field_documento">Documento</label>
                    <div>
                        <div *ngIf="editForm.get('documento')!.value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('documentoContentType')!.value, editForm.get('documento')!.value)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{ editForm.get('documentoContentType')!.value }}, {{ byteSize(editForm.get('documento')!.value) }}</span>
                            <button type="button" (click)="editForm.patchValue({documento: null});editForm.patchValue({documentoContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_documento" (change)="setFileData($event, 'documento', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="documento" id="field_documento"
                           formControlName="documento"/>
                    <input type="hidden" class="form-control" name="documentoContentType" id="field_documentoContentType"
                           formControlName="documentoContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="surapp1App.servicios.proveedor" for="field_proveedor">Proveedor</label>
                    <input type="text" class="form-control" name="proveedor" id="field_proveedor"
                           formControlName="proveedor"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="surapp1App.servicios.impuesto" for="field_impuesto">Impuesto</label>
                    <input type="number" class="form-control" name="impuesto" id="field_impuesto"
                           formControlName="impuesto"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="surapp1App.servicios.valor" for="field_valor">Valor</label>
                    <input type="number" class="form-control" name="valor" id="field_valor"
                           formControlName="valor"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="surapp1App.servicios.unidad" for="field_unidad">Unidad</label>
                    <input type="number" class="form-control" name="unidad" id="field_unidad"
                           formControlName="unidad"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="surapp1App.servicios.dispinibilidad" for="field_dispinibilidad">Dispinibilidad</label>
                    <input type="checkbox" class="form-control" name="dispinibilidad" id="field_dispinibilidad"
                           formControlName="dispinibilidad"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="surapp1App.servicios.descuento" for="field_descuento">Descuento</label>
                    <input type="number" class="form-control" name="descuento" id="field_descuento"
                           formControlName="descuento"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="surapp1App.servicios.remate" for="field_remate">Remate</label>
                    <input type="checkbox" class="form-control" name="remate" id="field_remate"
                           formControlName="remate"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="surapp1App.servicios.tags" for="field_tags">Tags</label>
                    <input type="text" class="form-control" name="tags" id="field_tags"
                           formControlName="tags"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="surapp1App.servicios.puntuacion" for="field_puntuacion">Puntuacion</label>
                    <input type="number" class="form-control" name="puntuacion" id="field_puntuacion"
                           formControlName="puntuacion"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="surapp1App.servicios.vistos" for="field_vistos">Vistos</label>
                    <input type="number" class="form-control" name="vistos" id="field_vistos"
                           formControlName="vistos"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="surapp1App.servicios.oferta" for="field_oferta">Oferta</label>
                    <input type="number" class="form-control" name="oferta" id="field_oferta"
                           formControlName="oferta"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="surapp1App.servicios.tiempoOferta" for="field_tiempoOferta">Tiempo Oferta</label>
                    <input type="number" class="form-control" name="tiempoOferta" id="field_tiempoOferta"
                           formControlName="tiempoOferta"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
