<div>
    <h2 id="page-heading">
        <span jhiTranslate="surapp1App.paciente.home.title">Pacientes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-paciente" [routerLink]="['/paciente/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="surapp1App.paciente.home.createLabel">
            Create a new Paciente
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="pacientes?.length === 0">
        <span jhiTranslate="surapp1App.paciente.home.notFound">No pacientes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="pacientes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nombre"><span jhiTranslate="surapp1App.paciente.nombre">Nombre</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="identificacion"><span jhiTranslate="surapp1App.paciente.identificacion">Identificacion</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="edad"><span jhiTranslate="surapp1App.paciente.edad">Edad</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sexo"><span jhiTranslate="surapp1App.paciente.sexo">Sexo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fechaNacimiento"><span jhiTranslate="surapp1App.paciente.fechaNacimiento">Fecha Nacimiento</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="condicion"><span jhiTranslate="surapp1App.paciente.condicion">Condicion</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ips.nombre"><span jhiTranslate="surapp1App.paciente.ips">Ips</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="user.id"><span jhiTranslate="surapp1App.paciente.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let paciente of pacientes ;trackBy: trackId">
                    <td><a [routerLink]="['/paciente', paciente.id, 'view']">{{ paciente.id }}</a></td>
                    <td>{{ paciente.nombre }}</td>
                    <td>{{ paciente.identificacion }}</td>
                    <td>{{ paciente.edad }}</td>
                    <td>{{ paciente.sexo }}</td>
                    <td>{{ paciente.fechaNacimiento | date:'mediumDate' }}</td>
                    <td>{{ paciente.condicion }}</td>
                    <td>
                        <div *ngIf="paciente.ips">
                            <a [routerLink]="['/ips', paciente.ips?.id, 'view']" >{{ paciente.ips?.nombre }}</a>
                        </div>
                    </td>
                    <td>
                        {{ paciente.user?.id }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/paciente', paciente.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/paciente', paciente.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(paciente)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
