<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-paciente-heading" jhiTranslate="surapp1App.paciente.home.createOrEditLabel">Create or edit a Paciente</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="surapp1App.paciente.nombre" for="field_nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="field_nombre"
                           formControlName="nombre"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="surapp1App.paciente.identificacion" for="field_identificacion">Identificacion</label>
                    <input type="number" class="form-control" name="identificacion" id="field_identificacion"
                           formControlName="identificacion"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="surapp1App.paciente.edad" for="field_edad">Edad</label>
                    <input type="number" class="form-control" name="edad" id="field_edad"
                           formControlName="edad"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="surapp1App.paciente.sexo" for="field_sexo">Sexo</label>
                    <input type="text" class="form-control" name="sexo" id="field_sexo"
                           formControlName="sexo"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="surapp1App.paciente.fechaNacimiento" for="field_fechaNacimiento">Fecha Nacimiento</label>
                    <div class="input-group">
                        <input id="field_fechaNacimiento" type="text" class="form-control" name="fechaNacimiento" ngbDatepicker #fechaNacimientoDp="ngbDatepicker" formControlName="fechaNacimiento"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaNacimientoDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="surapp1App.paciente.condicion" for="field_condicion">Condicion</label>
                    <textarea class="form-control" name="condicion" id="field_condicion"
                              formControlName="condicion"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="surapp1App.paciente.ips" for="field_ips">Ips</label>
                    <select class="form-control" id="field_ips" name="ips" formControlName="ips">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="iPSOption.id === editForm.get('ips')!.value?.id ? editForm.get('ips')!.value : iPSOption" *ngFor="let iPSOption of ips; trackBy: trackById">{{ iPSOption.nombre }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="surapp1App.paciente.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
