<div>
    <h2 id="page-heading">
        <span jhiTranslate="surapp1App.favoritosProductos.home.title">Favoritos Productos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-favoritos-productos" [routerLink]="['/favoritos-productos/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="surapp1App.favoritosProductos.home.createLabel">
            Create a new Favoritos Productos
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="favoritosProductos?.length === 0">
        <span jhiTranslate="surapp1App.favoritosProductos.home.notFound">No favoritosProductos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="favoritosProductos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fecha"><span jhiTranslate="surapp1App.favoritosProductos.fecha">Fecha</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="idUser.id"><span jhiTranslate="surapp1App.favoritosProductos.idUser">Id User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="productoId.id"><span jhiTranslate="surapp1App.favoritosProductos.productoId">Producto Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let favoritosProductos of favoritosProductos ;trackBy: trackId">
                    <td><a [routerLink]="['/favoritos-productos', favoritosProductos.id, 'view']">{{ favoritosProductos.id }}</a></td>
                    <td>{{ favoritosProductos.fecha | date:'mediumDate' }}</td>
                    <td>
                        {{ favoritosProductos.idUser?.id }}
                    </td>
                    <td>
                        <div *ngIf="favoritosProductos.productoId">
                            <a [routerLink]="['/productos', favoritosProductos.productoId?.id, 'view']" >{{ favoritosProductos.productoId?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/favoritos-productos', favoritosProductos.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/favoritos-productos', favoritosProductos.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(favoritosProductos)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
